<app-loader-component 
    [hidden]="loadingHidden">
</app-loader-component>

<div *ngIf="applicationVisible">
    <div [id]="info.id"
        class="weather-box" 
        *ngFor="let info of weatherInfo.list">
        <div class="weather-box-title">
            <p>{{ info.name }}, {{ info.sys.country }}</p>
        </div>
        <p class="weather-box-temperature" 
            [ngStyle]="colorsService.switchTemperatureColors(temperatureService.convertKelvinToCelsius(info.main.temp))">
            <span>{{ temperatureService.convertKelvinToCelsius(info.main.temp) }} &ordm;</span>
        </p>
        <div>
            <dl>
                <dt>humidity</dt>
                <dd>
                    <span>{{ info.main.humidity }} %</span>
                </dd>
            </dl>
        </div>
    </div>
</div>